html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
}

.header {
  background-color: #9999aa;
  top: 0;
  width: 100%;
}

.content {
  background-color: #ffeeee;
  height: auto;
}

.component {
  border: 1px solid red;
}

.component_img {
  height: 20em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.footer {
  background-color: #99ffdd;
  bottom: 0;
  width: 100%;
}
